@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{

    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Roboto, sans-serif;
}

.first{
    background-color: #1f2937;
    color: white;
    flex: 1 1 400px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    .logo{
        font-size: 24px;
        color: #f9faf8;
        font-weight: 600;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 110px;
    }

    .h-stuff{
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1 1 300px;
    }

    .h-cont{
        display: flex;
        flex:1;
        flex-wrap: wrap;

        p{
            font-size: 18px;
            margin: 0;
            color: #e5e7eb;
        }
    }

    #second{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: gray;
    }

    h1{
        margin: 0;
        font-size: 48px;
        font-weight: bold;
        color: #f9faf8;
    }
    
}








ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: white;
}

button{
    background-color: #3882f6;
	color: #f9faf8;
	border-style: none;
	border-radius: 5px;
	align-self: flex-start;
	padding: 8px 16px;
}


